# Logistic Regression for Ischemic Stroke Data Classification

In [1]:
from sklearn import svm
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_excel(r"C:\Users\alvansaid\Downloads\Infark.xlsx") #Data were not published because of license

In [4]:
df.corr()

,Area,Min,Max,Average,SD,Sum,Length,Target
Area,1.000000,-0.234525,0.242716,0.033133,0.204744,0.747350,0.943794,-0.092000
Min,-0.234525,1.000000,0.447781,0.801423,-0.478864,0.080421,-0.238263,-0.679615
Max,0.242716,0.447781,1.000000,0.841550,0.443949,0.540043,0.312020,-0.577936
Average,0.033133,0.801423,0.841550,1.000000,0.025014,0.386289,0.070610,-0.755833
SD,0.204744,-0.478864,0.443949,0.025014,1.000000,0.231972,0.243507,0.134619
Sum,0.747350,0.080421,0.540043,0.386289,0.231972,1.000000,0.770556,-0.340950
Length,0.943794,-0.238263,0.312020,0.070610,0.243507,0.770556,1.000000,-0.120775
Target,-0.092000,-0.679615,-0.577936,-0.755833,0.134619,-0.340950,-0.120775,1.000000

In [4]:
df.head()

   Area  Min  Max  Average     SD   Sum  Length  Target
0   0.2   -3   38    16.88   9.30  5166     2.0       1
1   0.1   15   44    30.64   7.37  7722     1.8       0
2   0.2   -5   51    19.19  12.44  4797     1.9       1
3   0.1   18   51    32.29   7.84  8136     1.8       0
4   0.1  -14   26     8.67  10.25   824     1.2       1

In [5]:
df['Target'].value_counts()

1    103
0    103
Name: Target, dtype: int64

In [6]:
y = df.Target
X = df.drop('Target', axis=1)

In [7]:
X

     Area  Min  Max  Average     SD   Sum  Length
0     0.2   -3   38    16.88   9.30  5166     2.0
1     0.1   15   44    30.64   7.37  7722     1.8
2     0.2   -5   51    19.19  12.44  4797     1.9
3     0.1   18   51    32.29   7.84  8136     1.8
4     0.1  -14   26     8.67  10.25   824     1.2
..    ...  ...  ...      ...    ...   ...     ...
201   0.1   15   52    32.40   8.54  5411     1.4
202   0.1   10   31    17.17   5.26   824     1.2
203   0.1   21   51    34.67   6.37  3432     1.6
204   0.0    7   33    16.69   8.40   217     0.7
205   0.1   25   59    44.73   6.16  3847     1.5

[206 rows x 7 columns]

In [8]:
y

0      1
1      0
2      1
3      0
4      1
      ..
201    0
202    1
203    0
204    1
205    0
Name: Target, Length: 206, dtype: int64

In [9]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [12]:
X

array([[ 0.60153724, -0.99938321, -0.06623003, ...,  0.78731147,
         0.73500565,  0.78991281],
       [-0.12738436,  0.58155234,  0.42103379, ...,  0.04846595,
         1.48495659,  0.48084911],
       [ 0.60153724, -1.17504271,  0.98950826, ...,  1.98937103,
         0.62673808,  0.63538096],
       ...,
       [-0.12738436,  1.10853086,  0.98950826, ..., -0.33435557,
         0.22623611,  0.17178541],
       [-0.85630595, -0.12108568, -0.47228323, ...,  0.44277211,
        -0.71707073, -1.21900125],
       [-0.12738436,  1.45984987,  1.63919336, ..., -0.41474809,
         0.34800045,  0.01725356]])

# Training and Testing

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
# Specify L1 regularization
lr = LogisticRegression()

# Instantiate the GridSearchCV object and run the search
searcher = GridSearchCV(lr, {'C':[0.001, 0.01, 0.1, 1, 10]}, cv=10)
searcher.fit(X, y)

# Report the best parameters
print("Best CV params", searcher.best_params_)

Best CV params {'C': 0.01}

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1
                                                    , random_state = 6)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 18)

In [47]:
lr = LogisticRegression(C=0.01)

In [48]:
lr.fit(X_train, y_train)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
lr.score(X_test, y_test)

0.9523809523809523

In [50]:
y_pred = lr.predict(X_test)

#how accurately our classifier predicts those test data
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.9523809523809523
[[ 9  0]
 [ 1 11]]
              precision    recall  f1-score   support

           0       0.90      1.00      0.95         9
           1       1.00      0.92      0.96        12

    accuracy                           0.95        21
   macro avg       0.95      0.96      0.95        21
weighted avg       0.96      0.95      0.95        21